* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

body {
  background-color: #202020;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ---------***HEADER---------- */

header {
  width: 100%;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

nav {
  width: 83.3%;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: 800;
  color: #a4d833;
  text-decoration: inherit;
}

.nav-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 560px;
  height: 100%;
}

.nav-li {
  text-decoration: none;
  list-style: none;
}

.a-li {
  text-decoration: inherit;
  color: whitesmoke;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.15s ease-out;
}

.a-li:hover {
  color: #a4d833;
  transition: all 0.15s ease-out;
}

.register-btn {
  width: 80px;
  height: 35px;
  background-color: whitesmoke;
  color: #202020;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: all 0.15s ease-out;
}

.register-btn:hover {
  background-color: #a4d833;
  color: whitesmoke;
  transition: all 0.15s ease-out;
}

.a-ragister-btn {
  text-decoration: inherit;
  color: #202020;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.15s ease-out;
}

/* ---------HEADER***---------- */

/* ---------***SEC-1---------- */

.sec-1-container {
  width: 83.3%;
  height: 91vh;
  display: flex;
  flex-wrap: wrap;
}

.sec-1-sec-1 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.sec-1-sec-2 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.home-img {
  width: 600px;
  height: 520px;
}

.sec-1-txt {
  width: 430px;
  height: 290px;
  display: flex;
  flex-direction: column;
}

.sec-1-h-1 {
  font-size: 60px;
  font-weight: 800;
  color: whitesmoke;
}

.sec-1-h-2 {
  font-size: 60px;
  font-weight: 800;
  color: #202020;
  -webkit-text-stroke: 2px #a4d833;
}

.sec-1-p {
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
  color: whitesmoke;
}

.sec-1-btn {
  width: 150px;
  height: 50px;
  margin-top: 30px;
  background-color: #a4d833;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.15s ease-out;
}

.sec-1-btn:hover {
  background-color: whitesmoke;
  transition: all 0.15s ease-out;
}

.sec-1-btn-container {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-txt {
  color: #202020;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.15s ease-out;
}

.btn-txt:hover {
  color: #202020;
  transition: all 0.15s ease-out;
}

/* ---------SEC-1***---------- */

/* ---------***SEC-2---------- */

.sec-2-container {
  width: 83.3%;
  height: 60px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-2 {
  width: 66.4%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.sec-2-logo {
  width: 150px;
  height: 45px;
}

/* ---------SEC-2***---------- */

/* ---------***SEC-3----------- */

.sec-3-container {
  width: 83.3%;
  height: 100%;
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sec-3-sec-1 {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sec-3-sec-2 {
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.sec-3-header {
  font-size: 24px;
  font-weight: 800;
}

.header-green {
  color: #a4d833;
}

.header-whitesmoke {
  color: whitesmoke;
}

.card {
  width: 240px;
  height: 350px;
  margin-top: 50px;
  background-color: #2a2831;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-box {
  width: auto;
  height: auto;
  margin: 45px 35px;
}

.practicing-image {
  width: 100px;
  height: 100px;
}

.card-h6 {
  color: whitesmoke;
  font-size: 20px;
  font-weight: 800;
  margin-top: 40px;
}

.card-p {
  color: #777777;
  font-size: 14px;
  font-weight: 400;
  margin-top: 15px;
  text-align: justify;
}

/* ---------SEC-3***----------- */

/* ---------***SEC-4----------- */

.sec-4-container {
  width: 83.3%;
  height: 91vh;
  display: flex;
  flex-wrap: wrap;
  margin-top: 110px;
}

.sec-4-sec-1 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-4-sec-2 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choose-img {
  width: 450px;
  height: 570px;
}

.sec-4-header {
  font-size: 24px;
  font-weight: 800;
}

.sec-4-sec-2-box {
  margin: 0px 125px;
}

.sec-4-p {
  font-size: 14px;
  font-weight: 400;
  margin-top: 30px;
  color: whitesmoke;
}

.sec-4-opt {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 20px;
  margin-top: 40px;
}

.sec-4-opt-h6 {
  font-size: 20px;
  font-weight: 800;
  color: whitesmoke;
}

.sec-4-opt-p {
  font-size: 14px;
  font-weight: 400;
  color: #777777;
}
/* ---------SEC-4***----------- */

/* ---------***SEC-5----------- */

.sec-5-container {
  width: 74.7%;
  height: 515px;
  margin-top: 100px;
}

.sec-5-sec-1 {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sec-5-sec-2 {
  width: 100%;
  height: 455px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.card-sec-5 {
  width: 270px;
  height: 400px;
  margin-top: 50px;
  background-color: #a4d833;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-5-txt {
  margin-top: 25px;
}

.practicing-img {
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
}

.pricing-h6 {
  font-size: 24px;
  font-weight: 800;
  color: #202020;
}

.pricing-p {
  font-size: 14px;
  font-weight: 400;
  color: #777777;
}

.line-through {
  text-decoration: line-through;
}

/* ---------SEC-5***----------- */

/* ---------***SEC-6----------- */

.sec-6-container {
  width: 75%;
  height: 91vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 110px;
}

.sec-6-sec-1{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-6-sec-2{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-6-h6{
  font-size: 24px;
  font-weight: 800;
  color: whitesmoke;
}

span{
  color: #a4d833;
}

.sec-6-p{
  font-size: 14px;
  font-weight: 400;
  color: whitesmoke;
  margin-top: 30px;
  margin-bottom: 35px;
}

.sec-6-form{
  width: 100%;
  height: auto;
  display: flex;
  gap: 25px;
}

.sec-6-input{
  background: #2a2831;
  height: 40px;
  border-style: none;
}

::-webkit-placeholder{
  float: right;
  margin-left: 10px;
  color: #a4d833;
}

button{
  width: 325px;
  height: 40px;
  background-color: #a4d833;
  color: #202020;
  border: none;
  margin-top: 25px;
  font-size: 14px;
  font-weight: 400;
}

.calculate-img{
  width: 310px;
  height: 550px;
}

/* ---------SEC-6***----------- */

/* ---------***SEC-7----------- */

.sec-7-container{
  width: 100%;
  height: 300px;
  background-color: #2a2831;
}

/* ---------SEC-7***----------- */

/* ----------***CSS-MEDIA-QUERRIES---------- */

@media screen and (max-width: 1199.9px) {
  .sec-1-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .sec-1-sec-1 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
  }

  .sec-1-sec-2 {
    width: 100%;
    height: 50%;
  }

  .sec-1-txt {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-img {
    width: 320px;
    height: 300px;
  }
}

/* ----------CSS-MEDIA-QUERRIES***---------- */
